.login {
    position: absolute;
    left: 38%;
    font-family: "Courgette";
    font-size: 50px;
    color: #336600;
}

.login-container {
    width: 20vh;
}

.cuisine {

    position: absolute;
    left: 40%;
    top: 5%;
    font-family: "Courgette";
    font-size: 50px;
    color: #336600;

}

.cuisine-container {
    width: 20vh;
    
}